<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Form Page</title>
    <link rel="stylesheet" type="text/css" href="form.css">
</head>
<body>
    <div class="form-container">
        <div class="form-column left">
            <form>
                <h2>FETAL HEAlTH</h2>
                <label for="field1-1">Field 1:</label>
                <input type="number" id="field1-1" name="field1-1" required>
                
                <label for="field1-2">Field 2:</label>
                <input type="number" id="field1-2" name="field1-2" required>

                <label for="field1-2">Field 2:</label>
                <input type="number" id="field1-2" name="field1-2" required>

                
                <label for="field1-2">Field 2:</label>
                <input type="number" id="field1-2" name="field1-2" required>

                <label for="field1-2">Field 2:</label>
                <input type="number" id="field1-2" name="field1-2" required>

                <label for="field1-2">Field 2:</label>
                <input type="number" id="field1-2" name="field1-2" required>
                

                <label for="field1-2">Field 2:</label>
                <input type="number" id="field1-2" name="field1-2" required>

                <!-- Add more fields as needed -->
                
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </div>
</body>
</html>
